@import "../../../scss/repeat.scss";
@import "../../../scss/vars.scss";

.jobList {
  padding: 220px 0 238px;
  background-color: $lightBlack;
  clip-path: polygon(0 75px, 0 100%, 100% 100%, 100% 0);

  &__title {
    @extend %flexColumn;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
    h2 {
      @extend %whiteBold;
      font-size: 40px;
      line-height: 60px;
      margin: 8px 0;
    }
    p {
      width: 380px;
      font-size: 16px;
      color: $white8;
      line-height: 24px;
    }
  }
}

@media (max-width: 1150px) {
  .jobList {
    padding: 120px 0 170px;
  }
}

@media (max-width: 650px) {
  .jobList {
    padding: 50px 0 150px;
    clip-path: polygon(0 20px, 0 100%, 100% 100%, 100% 0);
  }
}

@media (max-width: 600px) {
  .jobList {
    &__title {
      align-items: flex-start;
      text-align: left;
      margin-bottom: 20px;
      h2 {
        font-size: 24px;
        line-height: 32px;
        margin: 8px 0;
      }
      p {
        width: 100%;
      }
    }
  }
}

@media (max-width: 500px) {
  .jobList {
    & [class*="container"] {
      padding: 0;
    }
    &__title {
      padding: 0 20px;
    }
  }
}
