//colors
$white: #fff;
$dark: #000;
$black: #191d26;
$lightBlack: #22262f;
$orange: #fe6338;
$darkOrange: #f23500;
$gray: #f2f2f2;
$grayE7: #e7e7e7;
$white8: rgba(#fff, 0.8);
$white14: rgba(#fff, 0.14);
$white2: rgba(#fff, 0.2);
$white1: rgba(#fff, 0.1);
$white4: rgba(#fff, 0.4);
$red: #ff3b30;
$dot: #494b53;
$menu: #252932;
//fonts
$poppins: "Poppins", sans-serif;
